* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.container {
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.header {
  background: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 1px rgba(0, 0, 0, 0.12);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navthree
{
font-size: 24px;
word-spacing: 20px;
margin-left: 200px;
font-family: 'Poppins', sans-serif;
}

.logo {
  color: #0078ff;
  font-weight: 700;
  font-size: 24px;
}


.store-buttons .btn-outline {
  margin-left: 10px;
  padding: 8px 15px;
  border: 1px solid #0078ff;
  border-radius: 8px;
  text-decoration: none;
  color: #0078ff;
  font-weight: 500;
}
.store-buttons .btn-outline:hover {
  background: #0078ff;
  color: #fff;
}

/* HERO */
.star1
{
    margin-left: 300px;
    margin-top: 30px;
    position:absolute;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-text h2 {
  font-size: 50px;
  line-height: 1.3;
}
.hero-text span {
  color:black;
}
.hero-text p {
  margin: 20px 0;
}
.btn-primary {
  background:rgba(0, 148, 238, 1);
  color: #fff;
  padding: 15px 45px;
    border: none;
  border-radius: 50px;
  text-decoration: none;
    font-weight: bold;
    font-size: 20px;

}

.hero-img img {

     width: 600px;
      height: 600px;
      position: absolute;
      top: 70%;
      left: 74%;
      transform: translate(-50%, -50%);
      z-index: 2;
}
.curved-box
{
  position: relative;
  width:750px;
  height:450px;
  background-color: rgba(0, 148, 238, 1);
  border-radius: 200px;
  margin-top:80px;
  left:220px;

}



/* FEATURED APPS */
.featured {
  text-align: center;
  top: 80%;
  
}
.featured h2 {
  font-size: 46px;
  margin-bottom: 40px;
}
.featured h2 span {
  color: #0078ff;
}
.app-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}


.app-card img {
  width: 100%;
  border-radius: 10px;
}
.app-card h3 {
  font-size: 18px;
  margin: 10px 0;
}
.app-card p {
  font-size: 14px;
  color: #555;
}
.stars {
  color: gold;
  margin: 10px 0;
}
.btn-secondary {
  background: transparent;
  border: 1px solid ;
  color:black;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  font-weight: bold;
}
.btn-secondary:hover {
  background: black;
  color: #fff;
  
}
.center {
  display: inline-block;
  margin-top: 30px;
}

/* ABOUT */

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 60px 10%;

}

.about-img img {
  width: 500px;
  height:450px;
}
.about-text
{
  margin-left: 20px;
}
.about-text h2 {
  font-size: 32px;
  
}
.about-text p {
    color: rgba(32, 32, 32, 1);
     font-size: 15px;
}

/* TESTIMONIALS */
.testimonials {
  text-align: center;
  padding: 80px 0;
}
.testimonials h2 {
  font-size: 56px;
  margin-bottom: 40px;
}
.testimonials h2 span {
  color: #0078ff;
}
.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}



/* CTA */
.cta {
  background: #1c1c1c;
  color: #fff;
  text-align: center;
  padding: 80px 0;
}
.cta h2 {
  font-size: 28px;
  margin-bottom: 10px;
}
.cta p {
  margin-bottom: 20px;
}

/* FOOTER */
.footer {
  background-color:rgba(0, 148, 238, 1);
  color: white;
  text-align: center;
  padding: 50px 0px;
  font-family: 'Poppins', sans-serif;
  margin-top: 40%;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


/* Links */
.footer-links {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.footer-links a {
  text-decoration: none;
  color: white;
}

/* Divider line */
.footer hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 15px auto;
  width: 95%;
}




