* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1500px;
  margin: auto;  
}
body{
  position: absolute;
}

/* HEADER */
.header {
  background:rgba(255, 255, 255, 1);
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 1px rgba(0, 0, 0, 0.12);
  width:1450px;

}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  gap: 40px; /* space between links */
  margin-left: 500px;
  font-weight: bold;
}

.nav-links a {
  text-decoration: none;

  font-size: 24px;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: rgba(0, 148, 238, 1);
}
.hide
{
  display: flex; gap:30px;margin-right: 50px;
}
.sidebar
  {
    display: none;
  }
  .open{
  display: none;
  
  }
 


@media (max-width:350px) {
  .logoo
  {
    margin-top: 50px;
  }

 .hide{
    display: none;
  }
  
  .nav-links
  {
    display: none;
  }
  .open {
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  background: #3498db;
  color: white;
  cursor: pointer;
  margin-left: 1100px;
  display: block;
}
.sidebar {
  position: fixed;
  right: -350px;
  top: 0;
  width: 250px;
  height: 400px;
  background: white;
  box-shadow: -5px 0 10px rgba(0,0,0,0.4);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  transition: right 0.3s ease;
  z-index: 999;
}

.sidebar a {
  text-decoration: none;
  font-size: 30px;
  color: black;
}

.close {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 40px;
  cursor: pointer;
}




}

/* HERO */
.star1
{
    margin-left: 400px;
    margin-top: 30px;
    position:absolute;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-text
{
margin-left: 60px;
}
.hero-text h2 {
  font-size: 56px;
  line-height: 1.3;
}
.hero-text span {
  color:black;
}
.hero-text p {
  margin: 20px 0;
  font-size: 24px;
}
.btn-primary {
  background:rgba(0, 148, 238, 1);
  color: rgba(255, 255, 255, 1);;
  padding: 15px 45px;
    border: none;
  border-radius: 50px;
  text-decoration: none;
    font-weight: bold;
    font-size: 24px;

}

.hero-img img{

     width: 650px;
      height: 700px;
      position: absolute;
      top: 10.5%;
      left: 70%;
      transform: translate(-50%, -50%);
      z-index: 2;
}

@media (max-width:350px)
{
  .hero-img img{top:8%; left: 60%;}
}


.curved-box
{
  position: absolute;
  width:750px;
  height: 530px;
  background-color: rgba(0, 148, 238, 1);
  border-top-left-radius: 250px;
  border-bottom-left-radius:250px;
  margin-top: 80px;
  left: 700px;
}

@media(max-width:350px)
{
  .curved-box{left:600px;width:850px;}
}

/* FEATURED APPS */
.featured {
  text-align: center;
  top: 80%;
  
}
.featured h2 {
  font-size: 46px;
  margin-bottom: 40px;
}
.featured h2 span {
  color: rgba(0, 148, 238, 1);;
}
.app-grid {
  display: flex;
  margin-left: 100px;
  gap: 30px;
}


@media (max-width:350px)
{
  .app-grid{flex-direction: column;align-items:stretch; display: flex; }
}


.app-card
{
  position: relative;
}

@media (max-width: 350px) {
  .app-card {
  position: relative; /* very important */
  width: 370px;
  height: 370px;
  
}

.app-card img 
{
  position: absolute;
  width: 100%;
  height: 100%;
  
}

}

.app-card h3 {
  font-size: 18px;
  margin: 10px 0;
  
}
.app-card p {
  font-size: 16px;
  color: #555;
}


.Para{
  position: absolute;
}

@media(max-width:350px)
{
  .Para{
    height: 220px;
    width:400px;
    background-color: transparent;
    margin-left: 600px;
    margin-top: 80px;

}
}
.Paraa{
  position: absolute;
}
@media(max-width:350px)
{
  .Paraa{
    height: 220px;
    width:400px;
    background-color: transparent;
    margin-left: 180px;
    margin-top: 80px;
}
}

@media(max-width:350px)
{
  .exchange{
  margin-left:450px;}
}


.stars {
  color:  rgba(255, 189, 20, 1);
  margin: 10px 0;
}
.btn-secondary {
  background: transparent;
  border: 1px solid ;
  color:black;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  font-weight: bold;
}
.btn-secondary:hover {
  background: black;
  color: rgba(255, 255, 255, 1);;
  
}


/* ABOUT */

.about-section {
  display: flex; 
  padding: 60px 10%;
  gap: 30px;
  margin-top: 200px;

}
@media (max-width:350px)
{
  .about-section {
   padding: 20px 5%;
  

}
}

.about-img img {
  width: 540px;
  height:630px;
}

@media (max-width:350px)
{
  .about-img img{ width: 500px;
  height:600px;}
}



.about-text
{
  position: absolute;
  margin-left: 600px;
}

@media (max-width:350px)
{
  .about-text{margin-left: 520px;}
}




.about-text h2 {
  font-size: 56px;
  display: flex;
}
.about-text p {
  display: flex;
    color: rgba(32, 32, 32, 1);
     font-size: 18px;
}



/* TESTIMONIALS */
.testimonials {
  text-align: center;
  padding: 80px 0;

}
.testimonials h2 {
  font-size: 56px;
  margin-bottom: 40px;
}
.testimonials h2 span {
  color: rgba(0, 148, 238, 1);;
}
.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-left: 70px;
  margin-top: 50px;
}
@media(max-width:350px)
{
    .testimonial-grid{ 
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 70px; /* space between images */
    width: 300px; /* optional */
    margin-left:350px;
    position: relative;
  }
}

.one
{
  position:absolute;
  margin-left: 10px;
  margin-top: 430px;
}

.two
{
  position:absolute;
  margin-left: 360px;
  margin-top: 430px;
}
@media(max-width:350px)
{
  .two
  {
    height: 100px;
    width: 200px;
    background-color:transparent;
    margin-top: 430px;
    margin-left: 350px;
  }
}
.three
{
  position:absolute;
  margin-left: 710px;
  margin-top: 430px;
}

@media(max-width:350px)
{
  .three
  {
    height: 100px;
    width: 200px;
    background-color:transparent;
    margin-top: 1020px;
    margin-left: 0px;
  }
}
.set{
  position: absolute;
}

@media(max-width:350px)
{
  .set{
    
    margin-top: 590px;
    right:1000px;
  }
}

.four
{
position:absolute;
  margin-left: 1060px;
  margin-top: 430px;
}
@media(max-width:350px)
{
  .four
  {
    height: 100px;
    width: 200px;
    background-color:transparent;
    margin-top: 1020px;
    margin-left: 350px;
  }
}
.sett
{
  position: absolute;
}

@media(max-width:350px)
{
  .sett{
    margin-top: 590px;
    right:990px
    
  }
}


.star{
  color:rgba(255, 189, 20, 1);
  font-size: 23px;
}

.play-button {
  position: absolute;
  width: 52px;
  height: 52px;
  background: transparent;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: inset 1px 1px 3px rgba(255,255,255,0.1),inset -1px -1px 3px rgba(0,0,0,0.6);
}

.triangle {
  width: 0;
  height: 0;
  border-left: 8px solid rgba(255, 255, 255, 1);
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
}
 /*black box */
 .blackbox
 {
 position: absolute;
width: 1300px;
height: 430px;
border-radius: 9.39px;
background: rgba(41, 41, 41, 1);
margin-left: 80px;
margin-top: 80px;
 }

 @media (max-width:310px)
 {
   .blackbox{margin-left:30px;width: 1150px;}

 }

 .iphone
 {
  position: absolute;margin-left:660px; width:600px; margin-top: 63px;
 }

@media(max-width:350px)
 {
   .iphone{margin-left:630px; width:500px;margin-top: 125px;}

 }



/* FOOTER */
.footer {
  background-color:rgba(0, 148, 238, 1);
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding: 50px 0px;
  font-family: 'Poppins', sans-serif;
  margin-top: 50%;
  
}


.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


/* Links */
.footer-links {
  list-style: none;
  display: flex;
  gap: 30px;
 
}




.footer-links a {
  text-decoration: none;
  color:rgba(255, 255, 255, 1);
}
.social-icons
{
  gap:30px;
}
@media(max-width:350px)
{
.social-icons{margin-right: 180px;}
}


/* Divider line */
.footer hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 15px auto;
  width: 95%;
}

.footer-bottom
{
   color:rgba(255, 255, 255, 1);
}

@media (max-width:350px)
{
  .footer-bottom{margin-right: 90px;}
}
