* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.container {
  max-width: 1200px;
  margin: auto;
}

/* HEADER */
.header {
  background: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navthree
{
font-size: 24px;
word-spacing: 20px;
margin-left: 200px;
font-family: 'Poppins', sans-serif;
}

.logo {
  color: #0078ff;
  font-weight: 700;
  font-size: 24px;
}


.store-buttons .btn-outline {
  margin-left: 10px;
  padding: 8px 15px;
  border: 1px solid #0078ff;
  border-radius: 8px;
  text-decoration: none;
  color: #0078ff;
  font-weight: 500;
}
.store-buttons .btn-outline:hover {
  background: #0078ff;
  color: #fff;
}

/* HERO */

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-text h2 {
  font-size: 36px;
  line-height: 1.3;
}
.hero-text span {
  color:black;
}
.hero-text p {
  margin: 20px 0;
}
.btn-primary {
  background:rgba(0, 148, 238, 1);
  color: #fff;
  padding: 12px 25px;
    border: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
    font-weight: bold;

}

.hero-img img {

     width: 500px;
      height: 500px;
      position: absolute;
      top: 60%;
      left: 70%;
      transform: translate(-50%, -50%);
      z-index: 2;
}
.curved-box
{
  position: relative;
  width:800px;
  height:360px;
  background-color: rgba(0, 148, 238, 1);
  border-radius: 200px;
  margin-top:80px;
  left:220px;

}



/* FEATURED APPS */
.featured {
  text-align: center;
  top: 80%;
  
}
.featured h2 {
  font-size: 32px;
  margin-bottom: 40px;
}
.featured h2 span {
  color: #0078ff;
}
.app-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}


.app-card img {
  width: 100%;
  border-radius: 10px;
}
.app-card h3 {
  font-size: 18px;
  margin: 10px 0;
}
.app-card p {
  font-size: 14px;
  color: #555;
}
.stars {
  color: gold;
  margin: 10px 0;
}
.btn-secondary {
  background: transparent;
  border: 1px solid ;
  color:black;
  padding: 8px 20px;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  font-weight: bold;
}
.btn-secondary:hover {
  background: black;
  color: #fff;
  
}
.center {
  display: inline-block;
  margin-top: 30px;
}

/* ABOUT */

.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px; /* space between image and text */
  padding: 60px 10%;

}

.about-img img {
  width: 300px; /* adjust image size */
  object-fit: cover;
}

.about-text h2 {
  font-size: 32px;
  margin-bottom: 20px;
}
.about-text p {
  margin-bottom: 15px;
  color: #555;
}

